.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.img {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.link {
  display: flex;
  list-style-type: none;
}

.link li a {
  margin: 14px;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #202329;
}
