<div class="container">
  <h1 class="title">The Rick and Morty API</h1>
</div>

<div class="input">
  <input
    type="text"
    (input)="allFilter()"
    [(ngModel)]="name"
    placeholder="Search Characters..."
  />
  <button type="button" class="btn btn-success" (click)="aliveFilter()">Alive</button>
  <button type="button" class="btn btn-danger" (click)="deadFilter()">Dead</button>
  <button type="button" class="btn btn-warning" (click)="unknownFilter()">Unknown</button>
</div>

<div
  class="cards"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollUpDistance]="1.5"
  [infiniteScrollThrottle]="150"
  (scrolled)="onScroll()"
>
  <div
    *ngFor="let characters of filteredCharacter"
    class="card mb-3"
    style="max-width: 540px; background-color: #3c3e44; color: white"
  >
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ characters.image }}"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ characters.name }}</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This content is a little bit longer.
          </p>
          <p
            class="card-text"
            [ngClass]="{
              'text-success': characters.status === 'Alive',
              'text-danger': characters.status === 'Dead',
              'text-warning': characters.status === 'unknown'
            }"
          >
            <small class="text-body-primary">{{ characters.status }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
