.container {
  display: flex;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #202329;
  font-size: 3rem;
  margin-top: 80px;
  margin-bottom: 50px;
}

.title {
  font-size: 90px;
  font-weight: 900;
}

.input{
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
}

.cards {
  background-color: #272b33;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 100px;
}
